.admin-sidebar{
    background-color: dodgerblue;
    border-radius: 10px;
    height: 95vh;
    margin-left: 20px;
    margin-top: 2.5vh;
    min-height: 870px;
    max-width: 286px;
    padding: 0 15px;
    width: 100%;
  a{
    text-decoration: none;

    .active{
        width: 100%;
        padding:  15px 10px  ;
        background-color: #fff;
        color: dodgerblue;
        border-radius: 5px;

    }
  }


  

}
.admin-sidebar__image{
    width: 200px;
    margin: 0 auto;
    padding: 50px 0;
}
.admin-sidebar__language{
    width: 150px;
    padding: 7px 0;
   display: flex;
   justify-content: center;
   background-color: #fff;
   margin: 20px auto;
   border-radius: 5px;
   .language{
    margin: 0;
    gap: 40px;
   
   }
}
.admin-sidebar__title{
    display: flex;
    gap: 10px;
    width: 250px;
    padding: 5px 0;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 5px;

    .admin-sidebar__icon{
        padding: 10px;
        background:linear-gradient(rgb(23, 22, 22),rgb(138, 135, 135));
        border-radius: 50%;
     

        svg{
            font-size: 40px;
            color: #fff;
        }
    }
    h3{
         font-size: 18px;
         font-weight: 500;
         text-transform: uppercase;
         height: 0;
         margin-bottom: 25px;
         color: #000;
    }
    p{
          color: dodgerblue;
          font-size: 15px;
   
    }
}
.admin-sidebar__menu{
    display: flex;
    flex-direction: column;
    gap: 30px;
    white-space: nowrap;
    margin: 50px 0;
      li button{
        font-weight: 600;
        color: #fff;
        font-size: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        border: none;
        background-color: transparent;

        &:hover{
            width: 100%;
            padding:  15px 10px  ;
            background-color: #fff;
            color: dodgerblue;
            border-radius: 5px;
        }
        svg{
            font-size: 30px;
        }
    }
 
}
.admin-sidenar__exit{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 250px;
    padding:  15px 10px  ;
    background-color: red;
    color: #fff;
    border-radius: 5px;  
    font-size: 20px;
    font-weight: 600;
    svg{
        font-size: 30px;
    }
}