.container{
    max-width: 1600px;
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
}

.product-slider-btn{
    padding: 10px 20px;
    background-color: dodgerblue;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
 
}