#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
  width: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  width: 100%;
}
.banner{
  width: 100%;
  height: 410px;
  position: relative;
  border-radius: 10px;

  .BannerSwiper {
    width: calc(100% - 380px);
    height: 100%;
    position: absolute;
    top: 20px;
    right: 0;

    border-radius: 10px;
    overflow: hidden;
  
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      width: 100%;
  
    }
    
    .swiper-slide img {
      display: block;
 width: 100%;
      height: 100%;
      object-fit: cover;
      
    }
    
  
  }
}





